﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="HelpingHands.MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Helping Hands</title>
    <link href="content/bootstrap.css" rel="stylesheet" />
    <link href="content/site.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="header" style="background-color: rgb(6, 61, 48)">
        <div class="container">
            <div class="navbar-header">
                <h1 style="color: white">Helping H.A.N.D.S.</h1>
            </div>

        </div>
    </nav>
    </div>
    <div class="col-sm-12" style="margin-top:5em;">
        <form id="centerForm" runat="server">
            <asp:ScriptManager ID="smMyScript" runat="server"></asp:ScriptManager>
            <asp:ContentPlaceHolder ID="center" runat="server">
            </asp:ContentPlaceHolder>
        </form>
    </div>



    <footer class="footer nav" style="background-color: rgb(6, 61, 48);">
        <div class="container">
            <h4>Created by the Helping H.A.N.D.S.</h4>
        </div>
    </footer>


    <script src="js/bootstrap.min.js"></script>
</body>
</html>
